*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.vscode
.kotlin
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
composeApp/logs
composeApp/derby.log
composeApp/bbdd/derby.log
composeApp/bbdd/logs
composeApp/bbdd/log
mysql/mysql-data/
composeApp/logs/app.log
